.about {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    gap: 4rem;
    padding: 6rem 2rem 6rem 2rem;
    background-color: var(--cor-terciaria);
}

#sobre-mim-seta {
    width: 10%;
}

#sobre-educacao-seta {
    width: 10%;
}

.sobre-mim-titulo {
    display: flex;
    align-items: center;
    color: var(--cor-da-fonte);
    font-size: 2.5rem;
    font-weight: 700;
    gap: 0.8rem;
}
.sobre-mim-titulo img {
    width: 8%;
}
.sobre-mim-texto {
    display: none;
    padding-top: 1.5rem;    
    color: var(--cor-da-fonte);
    text-align: justify;
    line-height: 1.3rem;
}

.sobre-mim-texto a {
    color: var(--cor-secundaria);
    text-decoration: none;
}

.sobre-educacao-titulo {
    display: flex;
    align-items: center;
    color: var(--cor-da-fonte);
    font-size: 2.5rem;
    font-weight: 700;
    gap: 0.8rem;
}
.sobre-educacao-titulo img {
    width: 8%;
}
.sobre-educacao-texto {
    display: none;
    padding-top: 1.5rem;
    color: var(--cor-da-fonte);
    text-align: justify;
}

.sobre-educacao-texto h3 {
    color: var(--cor-secundaria);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.sobre-educacao-texto h4 {
    font-weight: 600;
    margin-bottom: 0.2rem;
    line-height: 1.3rem;
}

.sobre-educacao-texto p {
    margin-bottom: 1.5rem;
    line-height: 1.3rem;
}

.sobre-aberto {
    display: block;
}

.sobre-mim-web, .sobre-educacao-web {
    display: none;
}

@media screen and (min-width: 1440px) {


    .sobre-mim, .sobre-educacao {
        display: none;
    }

    .about {
        padding: 6rem 5rem 6rem 5rem;
    }

    .sobre-mim-web, .sobre-educacao-web {
        display: flex;
        flex-direction: column;
    }

    .sobre-mim-titulo-web, .sobre-educacao-titulo-web {
        color: var(--cor-da-fonte);
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }

    .sobre-mim-texto-web, .sobre-educacao-texto-web {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: var(--cor-da-fonte);
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .sobre-mim-texto-web a {
        color: var(--cor-secundaria);
        text-decoration: none;
        cursor: pointer;
    }

    .sobre-educacao-texto-web h3 {
        color: var(--cor-secundaria);
        font-weight: 700;
        margin-bottom: 0.2rem;
    }

    .sobre-educacao-texto-web h4 {
        font-weight: 600;
        margin-bottom: 0.2rem;
    }
}