.banner {
}

.banner-apresentacao {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 7.5rem 2rem 2rem 2rem;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    gap: 1.5rem;
}

#banner-img {
    width: 70%;
}

.banner-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.banner-titulo p {
    font-size: 1rem;
}

#subtitulo {
    color: var(--cor-secundaria);
    font-size: 1.4rem;
}

.banner-links {
    display: flex;
    gap: 1.2rem;
}

.banner-apresentacao-web {
    display: none;
}

@media screen and (min-width: 1440px) {
    .banner-apresentacao {
        display: none;
    }

    .banner-apresentacao-web {
        box-sizing: border-box;
        display: flex;
        padding: 0 2rem 0 2rem;
        height: 100vh;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        font-weight: 700;
        gap: 1.5rem;
    }

    .apresentacao-titulo p {
        margin-left: 0.2rem;
        margin-top: 0.5rem;
        font-size: 1.8rem;
    }

    #titulo {
        margin-top: 0.5rem;
        font-size: 4rem;
    }

    #subtitulo {
        margin-left: 0.2rem;
        margin-top: 0.5rem;
        font-size: 3rem;
    }

    .apresentacao-img-web {
        text-align: center;
    }

    .apresentacao-links {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        gap: 3rem;
    }

}