.banner-apresentacao {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem 2rem 2rem;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    gap: 1.5rem;
}

#banner-img {
    width: 70%;
}

.banner-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#subtitulo {
    color: var(--cor-secundaria);
    font-size: 1.4rem;
}

.banner-links {
    display: flex;
    gap: 1.2rem;
}