html {
    scroll-behavior: smooth;
}

.cabecalho {
    background-color: var(--cor-primaria);
    position: fixed;
    width: 100vw;
}

.cabecalho-titulo a {
    text-decoration: none;
    color: var(--cor-da-fonte);
    font-weight: 700;
}

.cabecalho-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.cabecalho-menu-botoes {
    display: flex;
}

.cabecalho-menu-img, img {
    width: 50px;
}

.cabecalho-menu-fechado {
    display: none;
    background-color: #d9d9d9;
    padding: 1rem;
}

.cabecalho-menu-aberto {
    display: block;
}

.nav-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.nav-item a {
    color: var(--cor-terciaria);
    text-decoration: none;
}

.nav-item a:active {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--cor-secundaria);
}

.cabecalho-menu-web {
    display: none;
    
}

@media screen and (min-width: 1440px) {

    .cabecalho-menu {
        display: none;
    }

    .cabecalho-menu-web {
        display: block;
        padding: 2rem;

    }

    .nav-lista-web {
        display: flex;
        justify-content: center;
        gap: 3.5rem;
    }

    .nav-item-web a {
        color: var(--cor-da-fonte);
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .nav-item-web a:hover {
        color: var(--cor-secundaria);
    }

    .nav-item-web a:active {
        color: var(--cor-secundaria);
    }
}