.projects {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 2rem;
    padding: 6rem 2rem 6rem 2rem;
    align-items: center;
}

.projets-titulo {
    text-align: center;
    color: var(--cor-secundaria);
    font-size: 2rem;
    font-weight: 700;
}

.projects-img-web {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projects-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-img img {
    width: 85%;
}

.projects-img a {
    color: var(--cor-terciaria);
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0.6rem;
}

@media screen and (min-width: 1440px) {
    .projects {
        padding: 6rem 5rem 5rem 5rem;
    }

    .projets-titulo {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .projects-img-web {
        flex-direction: row;
        gap: 2rem;
    }

    .projects-img-web-2 {
        display: flex;
        width: 32%; 
    }
}